server:
   port: 3344
spring:
  application:
    name: cloud-server-config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ximenpiaorou01/springcloud-config.git
          search-paths: #搜寻目录
            - springcloud-config
      label: main #分支

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka
